/.vscode
/Alchemism
/Docs/Erdic Megadoc.pdf
/Docs/Baedoor (3D) Megadoc.pdf
/Assets/Baedoor_Universe_Current.kra
/Assets/Gridmaps/legend

# temporary (use .zip instead)
/Assets/Gridmaps/BaedoorIsland.kra